@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or tailwind.css */
.scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-green {
    scrollbar-color: #38b2ac #edf2f7; /* thumb color and track color */
  }
  
  .scrollbar-thumb-green::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thumb-green::-webkit-scrollbar-thumb {
    background-color: #38b2ac; /* Tailwind's green-400 */
    border-radius: 4px;
  }
  
  .scrollbar-thumb-green::-webkit-scrollbar-track {
    background-color: #edf2f7; /* Tailwind's gray-200 */
  }
  